[Desktop Entry]
Type=Application
Exec=/bin/sh -c "$HOME/interaactionSceneLauncher"
Icon=/usr/share/icons/interaactionBox/VisuelSceneDisplay.png
Name[fr_FR]=InteraactionScene
Name=InteraactionScene
Comment[fr_FR]=Lanceur du logiciel de communication InteraactionScene
Comment=InteraactionScene software launcher
X-Desktop-File-Install-Version=0.24
