[Desktop Entry]
Type=Application
Exec=/bin/sh -c "$HOME/Launcher/interaactionBoxLauncher"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Icon=/usr/share/icons/interaactionBox/square-no-text.png
Name[fr_FR]=InteraactionBox
Name=InteraactionBox
Comment[fr_FR]=Lanceur de l'Interface et des Modules de l'InteraactionBox
Comment=Interface and Modules Launcher of the InteraactionBox
X-Desktop-File-Install-Version=0.24
